body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./brgrBLURRED.jpg"); 

  /* https://previews.123rf.com/images/xamtiw/xamtiw2003/xamtiw200300078/142178917-blank-brown-cardboard-boxes-on-blue-color-background-top-view-with-copy-space-product-package-mock-u.jpg */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



